<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form name="memo" action="/memo" method="post">
    Author <input name="author">
    <br>
    Contents <textarea name="contents"></textarea>
    <button type="submit" value="submit">Submit</button>
</form>

</body>
</html>